/* 这人很懒 */
*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
    font-size: 15.625vw;

    body{
        height: 100%;
        display: flex;
        flex-direction: column;
        
        header{
            width: 100%;
            display: flex;
            align-items: center;
            position: relative;
            border-bottom: .01rem solid #ccc;

            #go_back{
                width: .6rem;
                height: .6rem;
                background: url(../icon/返回.png) no-repeat center/.45rem;
                left: .2rem;
                position: absolute;
            }

            div{
                font: .42rem/1rem "";
                margin: 0 .2rem;
                text-align: center;
                width: 100%;
            }
        }

        main{
            flex: 1;
            overflow-y: auto;

            div{
                width: 100%;
                font: .24rem/.48rem "";

                input{
                    width: 100%;
                    margin: .1rem 0;
                    height: .45rem;
                }
            }
        }
    }
}